Read in the dataset, and view the first five rows with the 'head' method:

In [86]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [87]:
college = pd.read_csv('college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

Dimensions of the DataFrame with the 'shape' attribute:

In [88]:
college.shape

(7535, 27)

## List the data type of each column, number of non-missing values, and memory
## usage with the info method:

In [89]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
INSTNM                7535 non-null object
CITY                  7535 non-null object
STABBR                7535 non-null object
HBCU                  7164 non-null float64
MENONLY               7164 non-null float64
WOMENONLY             7164 non-null float64
RELAFFIL              7535 non-null int64
SATVRMID              1185 non-null float64
SATMTMID              1196 non-null float64
DISTANCEONLY          7164 non-null float64
UGDS                  6874 non-null float64
UGDS_WHITE            6874 non-null float64
UGDS_BLACK            6874 non-null float64
UGDS_HISP             6874 non-null float64
UGDS_ASIAN            6874 non-null float64
UGDS_AIAN             6874 non-null float64
UGDS_NHPI             6874 non-null float64
UGDS_2MOR             6874 non-null float64
UGDS_NRA              6874 non-null float64
UGDS_UNKN             6874 non-null float64
PPTUG_EF              6853 non-null float64
CURROPER              7535 non-null int64
PCTPELL               6849 non-null float64
PCTFLOAN              6849 non-null float64
UG25ABV               6718 non-null float64
MD_EARN_WNE_P10       6413 non-null object
GRAD_DEBT_MDN_SUPP    7503 non-null object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

#Get summary statistics for the numerical columns and transpose the DataFrame
for more readable output:

In [90]:
 college.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

#Get summary statistics for the object and categorical columns:

In [91]:
college.describe(include=[np.object,pd.Categorical]).T

                   count unique                                     top  freq
INSTNM              7535   7535  Miller-Motte Technical College-Augusta     1
CITY                7535   2514                                New York    87
STABBR              7535     59                                      CA   773
MD_EARN_WNE_P10     6413    598                       PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038                       PrivacySuppressed  1510

In [92]:
college.describe(include=[np.number],percentiles=[.01, .05, .10, .25, .5,.75, .9, .95, .99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,1.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,1.00000,1.000000,1.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,390.000000,430.000000,447.40000,475.000000,510.00000,555.000000,605.00000,665.000000,730.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,395.000000,430.000000,453.00000,482.000000,520.00000,565.000000,630.00000,685.000000,745.250000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,14.000000,31.650000,49.00000,117.000000,412.50000,1929.500000,6512.30000,11858.050000,26015.290000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.000000,0.013265,0.06879,0.267500,0.55570,0.747875,0.86297,0.927315,1.000000,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.000000,0.000000,0.00753,0.036125,0.10005,0.257700,0.51571,0.726715,0.961467,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.000000,0.000000,0.00573,0.027600,0.07140,0.198875,0.44314,0.666700,1.000000,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.000000,0.000000,0.00000,0.002500,0.01290,0.032700,0.07840,0.131775,0.346429,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.000000,0.00000,0.000000,0.00260,0.007300,0.01837,0.036410,0.209326,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.002500,0.00800,0.015200,0.050508,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.000000,0.00000,0.000000,0.01750,0.033900,0.05651,0.076900,0.133154,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.011700,0.04250,0.078135,0.236989,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.000000,0.00000,0.000000,0.01430,0.045400,0.10801,0.200575,0.496581,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.000000,0.00000,0.000000,0.15040,0.376900,0.60410,0.710620,0.946724,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,0.000000,0.000000,1.00000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.054976,0.170000,0.23656,0.357800,0.52150,0.712900,0.83330,0.896360,0.993908,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.000000,0.000000,0.00000,0.332900,0.58330,0.745000,0.84752,0.897920,0.986368,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.002500,0.037400,0.08990,0.241500,0.40075,0.572275,0.72666,0.800000,0.917383,1.0000

In [93]:
 pd.read_csv('college_data_dictionary.csv')

           column_name                                        description
0               INSTNM                                   Institution Name
1                 CITY                                      City Location
2               STABBR                                 State Abbreviation
3                 HBCU           Historically Black College or University
4              MENONLY                                       0/1 Men Only
5            WOMENONLY                                     0/1 Women only
6             RELAFFIL                          0/1 Religious Affiliation
7             SATVRMID                                  SAT Verbal Median
8             SATMTMID                                    SAT Math Median
9         DISTANCEONLY                            Distance Education Only
10                UGDS                           Undergraduate Enrollment
11          UGDS_WHITE                            Percent Undergrad White
12          UGDS_BLACK                            Percent Undergrad Black
13           UGDS_HISP                         Percent Undergrad Hispanic
14          UGDS_ASIAN                            Percent Undergrad Asian
15           UGDS_AIAN   Percent Undergrad American Indian/Alaskan Native
16           UGDS_NHPI  Percent Undergrad Native Hawaiian/Pacific Isla...
17           UGDS_2MOR                  Percent Undergrad 2 or more races
18            UGDS_NRA              Percent Undergrad non-resident aliens
19           UGDS_UNKN                     Percent Undergrad race unknown
20            PPTUG_EF                         Percent Students part-time
21            CURROPER                            0/1 Currently Operating
22             PCTPELL                   Percent Students with Pell grant
23            PCTFLOAN                 Percent Students with federal loan
24             UG25ABV                     Percent Students Older than 25
25     MD_EARN_WNE_P10          Median Earnings 10 years after enrollment
26  GRAD_DEBT_MDN_SUPP                          Median debt of completers

#After reading in our college dataset, we select a few columns of different data
types that will clearly show how much memory may be saved

In [94]:
import pandas as pd
college = pd.read_csv('college.csv')
college

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750
6,Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127
7,Athens State University,Athens,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0174,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595
8,Auburn University at Montgomery,Montgomery,AL,0.0,0.0,0.0,0,486.0,509.0,0.0,...,0.0297,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000,21335
9,Auburn University,Auburn,AL,0.0,0.0,0.0,0,575.0,588.0,0.0,...,0.0000,0.0100,0.0140,0.0862,1,0.1610,0.3494,0.0415,45700,21831
10,Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
11,Chattahoochee Valley Community College,Phenix City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0151,0.0000,0.0139,0.4198,1,0.6369,0.2537,0.3876,26100,9000
12,Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,...,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed
13,South University-Montgomery,Montgomery,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0019,0.0326,0.3238,1,0.6845,0.7129,0.5726,28800,25167
14,Enterprise State Community College,Enterprise,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0254,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600,8273
15,James H Faulkner State Community College,Bay Minette,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0152,0.0007,0.0009,0.4104,1,0.4725,0.3741,0.2909,28700,11000
16,Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0173,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000
17,Gadsden State Community College,Gadsden,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0185,0.0150,0.0169,0.4523,1,0.5734,0.0000,0.3733,25700,PrivacySuppressed
18,New Beginning College of Cosmetology,Albertville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,NaN,5500
19,George C Wallace State Community College-Dothan,Dothan,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0126,0.0000,0.0009,0.4787,1,0.5501,0.0000,0.3920,26600,PrivacySuppressed
20,George C Wallace State Community College-Hance...,Hanceville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0059,0.0183,0.4203,1,0.5026,0.4192,0.3229,28800,11186
21,George C Wallace State Community College-Selma,Selma,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0033,0.0040,0.0443,0.3840,1,0.7645,0.0000,0.3318,24200,PrivacySuppressed
22,Herzing University-Birmingham,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0563,0.0000,0.0397,0.5497,1,0.6541,0.7736,0.7813,42300,23216.5
23,Huntingdon College,Montgomery,AL,0.0,0.0,0.0,1,510.0,490.0,0.0,...,0.0261,0.0061,0.0827,0.2097,1,0.3982,0.7153,0.1937,36500,26230
24,Heritage Christian University,Florence,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0161,0.0323,0.4355,1,0.6087,0.4493,0.5942,PrivacySuppressed,PrivacySuppressed
25,J F Drake State Community and Technical College,Huntsville,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0185,0.0000,0.0062,0.4394,1,0.5763,0.0000,0.4555,22300,PrivacySuppressed
26,Jacksonville State University,Jacksonville,AL,0.0,0.0,0.0,0,495.0,485.0,0.0,...,0.0000,0.0234,0.0280,0.1989,1,0.4428,0.6825,0.2200,34600,23000
27,Jefferson Davis Community College,Brewton,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0184,0.0000,0.0397,0.4424,1,0.5765,0.0000,0.4060,25400,PrivacySuppressed
28,Jefferson State Community College,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0301,0.0054,0.0001,0.6050,1,0.3372,0.2101,0.3671,29400,8916.5
29,John C Calhoun State Community College,Tanner,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0428,0.0062,0.0162,0.5795,1,0.3933,0.3024,0.3688,27400,10500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7505,Strayer University-Lawrenceville,Lawrenceville,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7506,Strayer University-Piscataway,Piscataway,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7507,Utah County Campus,Orem,UT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,7667
7508,L'esprit Academy - Royal Oak,Royal Oak,MI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9833
7509,National Career Institute - Jersey City Branch,Jersey City,NJ,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
7510,Strayer University-Cobb Campus,Atlanta,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7511,Strayer University-Morrow Campus,Morrow,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7512,Strayer University-Roswell Campus,Roswell,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7513,Strayer University-Douglasville Campus,Douglasville,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7514,Strayer University-Lithonia Campus,Lithonia,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7515,Strayer University-Savannah Campus,Savannah,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7516,Strayer University-Augusta Campus,Augusta,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7517,Strayer University-Columbus,Columbus,GA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,49200,36173.5
7518,Strayer University-Columbia Campus,Columbia,SC,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7519,Strayer University-Charleston Campus,North Charleston,SC,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7520,Strayer University-Irving,Irving,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7521,Strayer University-Katy,Houston,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7522,Strayer University-Northwest Houston,Houston,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7523,Strayer University-Plano,Plano,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,49200,36173.5
7524,Strayer University-Cedar Hill,Cedar Hill,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5
7525,Strayer University-North Dallas,Dallas,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5
7526,Strayer University-San Antonio,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5
7527,Strayer University-Stafford,Stafford,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,36173.5
7528,WestMed College - Merced,Merced,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,15623.5
7529,Vantage College,El Paso,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
7530,SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
7531,Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163
7532,National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333
7533,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
7534,Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125

In [95]:
different_cols = ['RELAFFIL','SATMTMID','CURROPER','INSTNM','STABBR']
col2 = college.loc[:,different_cols]
col2.head()

   RELAFFIL  SATMTMID  CURROPER                               INSTNM STABBR
0         0     420.0         1             Alabama A & M University     AL
1         0     565.0         1  University of Alabama at Birmingham     AL
2         1       NaN         1                   Amridge University     AL
3         0     590.0         1  University of Alabama in Huntsville     AL
4         0     430.0         1             Alabama State University     AL

In [96]:
col2.dtypes

RELAFFIL      int64
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

#Find the memory usage of each column with the 'memory_usage' method

In [97]:
original_mem = col2.memory_usage(deep=True)
original_mem

Index           80
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [98]:
import numpy as np
col2['RELAFFIL'] = col2['RELAFFIL'].astype(np.int8)

In [99]:
col2.dtypes

RELAFFIL       int8
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

#find the memory usage of each column again and note the large reduction:

In [100]:
college[different_cols].memory_usage(deep = True)

Index           80
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

#To save even more memory ,you will want to consider changing object datatypes to categorical

if they have a resonably low cardinality.

In [101]:
col2.select_dtypes(include = ['object']).nunique()

INSTNM    7535
STABBR      59
dtype: int64

The 'STABBR' column is a good candidate to convert to Categorical as less than one percent of its values are unique:

In [102]:
col2['STABBR'] = col2['STABBR'].astype('category')
col2.dtypes

RELAFFIL        int8
SATMTMID     float64
CURROPER       int64
INSTNM        object
STABBR      category
dtype: object

In [103]:
new_mem = col2.memory_usage(deep = True)
new_mem

Index           80
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660699
STABBR       13576
dtype: int64

In [104]:
new_mem

Index           80
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660699
STABBR       13576
dtype: int64

In [105]:
 original_mem

Index           80
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [106]:
new_mem / original_mem

Index       1.000000
RELAFFIL    0.125000
SATMTMID    1.000000
CURROPER    1.000000
INSTNM      1.000695
STABBR      0.030538
dtype: float64

In [107]:
(((original_mem-new_mem) / original_mem)*100).round()

Index        0.0
RELAFFIL    88.0
SATMTMID     0.0
CURROPER     0.0
INSTNM      -0.0
STABBR      97.0
dtype: float64

In [110]:
college.loc[0,'CURROPER'] = 10000000
college.loc[0,'INSTNM'] = college.loc[0,'INSTNM'] + 'a'
college[['CURROPER','INSTNM']].memory_usage(deep=True)

Index           80
CURROPER     60280
INSTNM      660752
dtype: int64

In [113]:
college['MENONLY'].dtype

dtype('float64')

In [114]:
college.describe(include = ['int64','float64']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.000000e+00
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.000000e+00
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.000000e+00
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.000000e+00
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,7.650000e+02
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,7.850000e+02
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.000000e+00
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,1.515580e+05
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.000000e+00
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.000000e+00
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.000000e+00
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,9.727000e-01
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.000000e+00
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,9.983000e-01
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,5.333000e-01
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,9.286000e-01
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,9.027000e-01
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.000000e+00
CURROPER,7535.0,1328.063172,115201.552429,0.0,1.000000,1.00000,1.000000,1.000000e+07
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.000000e+00
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.000000e+00
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.000000e+00

In [115]:
college.describe(include = [np.int64,np.float]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.000000e+00
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.000000e+00
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.000000e+00
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.000000e+00
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,7.650000e+02
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,7.850000e+02
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.000000e+00
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,1.515580e+05
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.000000e+00
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.000000e+00
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.000000e+00
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,9.727000e-01
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.000000e+00
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,9.983000e-01
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,5.333000e-01
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,9.286000e-01
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,9.027000e-01
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.000000e+00
CURROPER,7535.0,1328.063172,115201.552429,0.0,1.000000,1.00000,1.000000,1.000000e+07
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.000000e+00
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.000000e+00
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.000000e+00

In [116]:
college.describe(include=['int','float']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [117]:
college.describe(include = ['number']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.000000e+00
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.000000e+00
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.000000e+00
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.000000e+00
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,7.650000e+02
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,7.850000e+02
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.000000e+00
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,1.515580e+05
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.000000e+00
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.000000e+00
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.000000e+00
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,9.727000e-01
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.000000e+00
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,9.983000e-01
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,5.333000e-01
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,9.286000e-01
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,9.027000e-01
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.000000e+00
CURROPER,7535.0,1328.063172,115201.552429,0.0,1.000000,1.00000,1.000000,1.000000e+07
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.000000e+00
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.000000e+00
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.000000e+00

In [118]:
college['MENONLY'] = college['MENONLY'].astype('float16')
college['RELAFFIL'] = college['RELAFFIL'].astype('int8')

In [120]:
college.index = pd.Int64Index(college.index)
college.index.memory_usage()

60280

In [123]:
movie = pd.read_csv('movie.csv')
movie2 = movie[['movie_title','imdb_score','budget']]
movie2.head()

                                  movie_title  imdb_score       budget
0                                      Avatar         7.9  237000000.0
1    Pirates of the Caribbean: At World's End         7.1  300000000.0
2                                     Spectre         6.8  245000000.0
3                       The Dark Knight Rises         8.5  250000000.0
4  Star Wars: Episode VII - The Force Awakens         7.1          NaN

#Use the 'nlargrst' method to select the top 100 movie by imdb_score.

In [126]:
movie2.nlargest(100,'imdb_score').head()

                   movie_title  imdb_score      budget
2725          Towering Inferno         9.5         NaN
1920  The Shawshank Redemption         9.3  25000000.0
3402             The Godfather         9.2   6000000.0
2779                   Dekalog         9.1         NaN
4312      Kickboxer: Vengeance         9.1  17000000.0

#Chain the 'nsmallest'method to  return the five lowest budget films among those with a top 100 score:

In [127]:
movie2.nlargest(100,'imdb_score').nsmallest(5,'budget')

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [129]:
movie = pd.read_csv('movie.csv')
movie2 = movie[['movie_title','title_year','imdb_score']]

In [131]:
movie2.head()

                                  movie_title  title_year  imdb_score
0                                      Avatar      2009.0         7.9
1    Pirates of the Caribbean: At World's End      2007.0         7.1
2                                     Spectre      2015.0         6.8
3                       The Dark Knight Rises      2012.0         8.5
4  Star Wars: Episode VII - The Force Awakens         NaN         7.1

#. Use the 'sort_values' method to sort the DataFrame by 'title_year'.
#The
default behavior sorts from the smallest to largest. 
#Use the 'ascending' parameter
to invert this behavior by setting it equal to 'True':

In [137]:
movie2.sort_values('title_year',ascending = False).head() # by default ascending is true

                       movie_title  title_year  imdb_score
3884                      The Veil      2016.0         4.7
2375    My Big Fat Greek Wedding 2      2016.0         6.1
2794          Miracles from Heaven      2016.0         6.8
92    Independence Day: Resurgence      2016.0         5.5
153                Kung Fu Panda 3      2016.0         7.2

In [141]:
movie3 = movie2.sort_values(['title_year','imdb_score'],ascending=False)
movie3.head()

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2

 #we use the 'drop_duplicates' method to keep only the first row of every
year:

In [143]:
movie_top_year = movie3.drop_duplicates(subset = 'title_year')
movie_top_year

,movie_title,title_year,imdb_score
4312,Kickboxer: Vengeance,2016.0,9.1
3745,Running Forever,2015.0,8.6
4369,Queen of the Mountains,2014.0,8.7
3935,"Batman: The Dark Knight Returns, Part 2",2013.0,8.4
3,The Dark Knight Rises,2012.0,8.5
3853,Samsara,2011.0,8.5
97,Inception,2010.0,8.8
67,Up,2009.0,8.3
66,The Dark Knight,2008.0,9.0
2646,U2 3D,2007.0,8.4
357,The Departed,2006.0,8.5
120,Batman Begins,2005.0,8.3
2196,Eternal Sunshine of the Spotless Mind,2004.0,8.3
335,The Lord of the Rings: The Return of the King,2003.0,8.9
336,The Lord of the Rings: The Two Towers,2002.0,8.7
267,The Lord of the Rings: The Fellowship of the Ring,2001.0,8.8
280,Gladiator,2000.0,8.5
675,Fight Club,1999.0,8.8
641,Saving Private Ryan,1998.0,8.6
4801,Children of Heaven,1997.0,8.5
3968,Trainspotting,1996.0,8.2
1584,Se7en,1995.0,8.6
1920,The Shawshank Redemption,1994.0,9.3
1857,Schindler's List,1993.0,8.9
4395,Reservoir Dogs,1992.0,8.4
2134,The Silence of the Lambs,1991.0,8.6
1886,Goodfellas,1990.0,8.7
1030,Indiana Jones and the Last Crusade,1989.0,8.3
1738,Die Hard,1988.0,8.2
2611,The Princess Bride,1987.0,8.1
...,...,...,...
4635,Seven Samurai,1954.0,8.7
4293,From Here to Eternity,1953.0,7.8
4091,Singin' in the Rain,1952.0,8.3
4263,A Streetcar Named Desire,1951.0,8.0
3895,Annie Get Your Gun,1950.0,7.0
4294,She Wore a Yellow Ribbon,1949.0,7.4
3998,Red River,1948.0,7.8
4235,The Lady from Shanghai,1947.0,7.7
3967,It's a Wonderful Life,1946.0,8.6
4377,The Lost Weekend,1945.0,8.0
4129,Bathing Beauty,1944.0,6.5
4081,A Guy Named Joe,1943.0,7.0
4425,Casablanca,1942.0,8.6
4382,How Green Was My Valley,1941.0,7.8
4375,Rebecca,1940.0,8.2
3891,Gone with the Wind,1939.0,8.2
4292,You Can't Take It with You,1938.0,8.0
2857,The Prisoner of Zenda,1937.0,7.8
4330,Modern Times,1936.0,8.6
4594,Top Hat,1935.0,7.8
4708,It Happened One Night,1934.0,8.2
4671,42nd Street,1933.0,7.7
3684,A Farewell to Arms,1932.0,6.6
3882,Hell's Angels,1930.0,7.8
4555,Pandora's Box,1929.0,8.0
2694,Metropolis,1927.0,8.3
4767,The Big Parade,1925.0,8.3
4833,Over the Hill to the Poorhouse,1920.0,4.8
4695,Intolerance: Love's Struggle Throughout the Ages,1916.0,8.0
2725,Towering Inferno,NaN,9.5

In [144]:
movie_top_year.head()

                                  movie_title  title_year  imdb_score
4312                     Kickboxer: Vengeance      2016.0         9.1
3745                          Running Forever      2015.0         8.6
4369                   Queen of the Mountains      2014.0         8.7
3935  Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                       The Dark Knight Rises      2012.0         8.5

In [146]:
movie4 = movie[['movie_title','title_year','content_rating','budget']]
movie4_sorted = movie4.sort_values(['title_year','content_rating','budget'],
                                  ascending = [False, False, True])
movie4_sorted.drop_duplicates(subset = ['title_year','content_rating',]).head(10)

,movie_title,title_year,content_rating,budget
4026,Compadres,2016.0,R,3000000.0
4658,Fight to the Finish,2016.0,PG-13,150000.0
4661,Rodeo Girl,2016.0,PG,500000.0
3252,The Wailing,2016.0,Not Rated,NaN
4659,Alleluia! The Devil's Carnival,2016.0,NaN,500000.0
4731,Bizarre,2015.0,Unrated,500000.0
812,The Ridiculous 6,2015.0,TV-14,NaN
4831,The Gallows,2015.0,R,100000.0
4825,Romantic Schemer,2015.0,PG-13,125000.0
3796,R.L. Stine's Monsterville: The Cabinet of Souls,2015.0,PG,4400000.0

In [147]:
movie = pd.read_csv('movie.csv')
movie2 = movie[['movie_title','imdb_score','budget']]
movie_smallest_largest = movie2.nlargest(100, 'imdb_score').nsmallest(5,'budget')
movie_smallest_largest

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

#Use 'sort_values' to replicate the first part of the expression and grab the first
100 rows with the 'head' method:

In [148]:
movie2.sort_values('imdb_score',ascending = False).head(100)

,movie_title,imdb_score,budget
2725,Towering Inferno,9.5,NaN
1920,The Shawshank Redemption,9.3,2.500000e+07
3402,The Godfather,9.2,6.000000e+06
2779,Dekalog,9.1,NaN
4312,Kickboxer: Vengeance,9.1,1.700000e+07
3415,Fargo,9.0,NaN
2791,The Godfather: Part II,9.0,1.300000e+07
66,The Dark Knight,9.0,1.850000e+08
1857,Schindler's List,8.9,2.200000e+07
335,The Lord of the Rings: The Return of the King,8.9,9.400000e+07
3295,Pulp Fiction,8.9,8.000000e+06
4706,12 Angry Men,8.9,3.500000e+05
4397,"The Good, the Bad and the Ugly",8.9,1.200000e+06
267,The Lord of the Rings: The Fellowship of the Ring,8.8,9.300000e+07
1825,It's Always Sunny in Philadelphia,8.8,NaN
453,Daredevil,8.8,NaN
827,Forrest Gump,8.8,5.500000e+07
675,Fight Club,8.8,6.300000e+07
97,Inception,8.8,1.600000e+08
2031,Star Wars: Episode V - The Empire Strikes Back,8.8,1.800000e+07
2973,Star Wars: Episode IV - A New Hope,8.7,1.100000e+07
4804,Butterfly Girl,8.7,1.800000e+05
1801,The Honeymooners,8.7,NaN
4277,A Beginner's Guide to Snuff,8.7,NaN
647,The Matrix,8.7,6.300000e+07
1604,Friday Night Lights,8.7,NaN
4369,Queen of the Mountains,8.7,1.400000e+06
1886,Goodfellas,8.7,2.500000e+07
3512,Gomorrah,8.7,NaN
3795,One Flew Over the Cuckoo's Nest,8.7,4.400000e+06
...,...,...,...
2334,Back to the Future,8.5,1.900000e+07
2215,Psycho,8.5,8.069470e+05
1287,AmÃ©lie,8.4,7.700000e+07
1521,Star Wars: Episode VI - Return of the Jedi,8.4,3.250000e+07
4023,Oldboy,8.4,3.000000e+06
58,WALLÂ·E,8.4,1.800000e+08
3592,The Inbetweeners,8.4,NaN
3555,Veronica Mars,8.4,NaN
1317,Baahubali: The Beginning,8.4,1.802615e+07
848,Stargate SG-1,8.4,1.400000e+06
1490,Lion of the Desert,8.4,3.500000e+07
4395,Reservoir Dogs,8.4,1.200000e+06
2294,Princess Mononoke,8.4,2.400000e+09
2570,American Beauty,8.4,1.500000e+07
567,Braveheart,8.4,7.200000e+07
1698,Once Upon a Time in America,8.4,3.000000e+07
2646,U2 3D,8.4,NaN
2922,Das Boot,8.4,1.400000e+07
4163,To Kill a Mockingbird,8.4,2.000000e+06
2605,Lawrence of Arabia,8.4,1.500000e+07
3616,Rang De Basanti,8.4,NaN
4815,A Charlie Brown Christmas,8.4,1.500000e+05
2333,The Shining,8.4,1.900000e+07
3736,Psych,8.4,NaN
3902,M*A*S*H,8.4,NaN
3799,Anne of Green Gables,8.4,NaN
3777,Requiem for a Dream,8.4,4.500000e+06
3935,"Batman: The Dark Knight Returns, Part 2",8.4,3.500000e+06
4636,The Other Dream Team,8.4,5.000000e+05
2455,Aliens,8.4,1.850000e+07

#We have the top 100 scoring movies, we can use 'sort_values' with
'head' again to grab the lowest five by 'budget':

In [152]:
movie2.sort_values('imdb_score',ascending = False).sort_values('budget').head(100)

                         movie_title  imdb_score    budget
4684                       Tarnation         7.2     218.0
4915               My Date with Drew         6.6    1100.0
4913            A Plague So Pleasant         6.3    1400.0
4909                 The Mongol King         7.8    3250.0
4899                           Clean         6.9    4500.0
4907                          Cavite         6.3    7000.0
4906                          Primer         7.0    7000.0
4908                     El Mariachi         6.9    7000.0
4910                       Newlyweds         6.4    9000.0
4900                      The Circle         7.5   10000.0
4898                  Pink Flamingos         6.1   10000.0
4901                     Tin Can Man         6.7   10000.0
2316                       The Touch         5.2   13000.0
4219                          London         6.6   14000.0
4678             Paranormal Activity         6.3   15000.0
4896                Breaking Upwards         6.2   15000.0
4894                 The Puffy Chair         6.6   15000.0
4895            Stories of Our Lives         7.4   15000.0
4893                      The Ridges         3.0   17350.0
4897        All Superheroes Must Die         4.0   20000.0
4891                        Flywheel         6.9   20000.0
4832                      Eraserhead         7.4   20000.0
4838          Dude, Where's My Dog?!         3.2   20000.0
4890                       Dry Spell         3.3   22000.0
4888                         Slacker         7.1   23000.0
4886                          Manito         7.0   24000.0
4889                     Dutch Kills         4.8   25000.0
4885           In the Company of Men         7.3   25000.0
4858           The Brothers McMullen         6.6   25000.0
4883                  Pink Narcissus         6.7   27000.0
...                              ...         ...       ...
4833  Over the Hill to the Poorhouse         4.8  100000.0
4855                    Tiger Orange         6.8  100000.0
4834               Hollywood Shuffle         7.0  100000.0
4806                   Another Earth         7.0  100000.0
4829          The Work and the Story         5.7  103000.0
3814        Night of the Living Dead         8.0  114000.0
4802                         Weekend         7.7  120000.0
4827                Une Femme MariÃ©e         7.4  120000.0
4826               A Dog's Breakfast         7.0  120000.0
4823         The Blood of My Brother         6.6  120000.0
4825                Romantic Schemer         5.1  125000.0
4820        An American in Hollywood         7.2  125000.0
4824            Your Sister's Sister         6.7  125000.0
4822            The Brain That Sings         8.2  125000.0
4818                        Top Spin         7.1  150000.0
4809                         Tadpole         6.3  150000.0
4746                        November         5.5  150000.0
4816       Antarctic Edge: 70Â° South         7.0  150000.0
4658             Fight to the Finish         4.0  150000.0
4815       A Charlie Brown Christmas         8.4  150000.0
4791    The Case of the Grinning Cat         7.4  150000.0
4817                         Aroused         5.3  150000.0
4722               Nothing But a Man         8.1  160000.0
4812                   The Horse Boy         7.4  160000.0
4819                      Roger & Me         7.5  160000.0
4805               The World Is Mine         6.5  168000.0
4803             She's Gotta Have It         6.5  175000.0
4810                            Once         7.9  180000.0
4801              Children of Heaven         8.5  180000.0
4804                  Butterfly Girl         8.7  180000.0

[100 rows x 3 columns]

In [153]:
movie2.nlargest(100,'imdb_score').tail()

                movie_title  imdb_score     budget
4023                 Oldboy         8.4  3000000.0
4163  To Kill a Mockingbird         8.4  2000000.0
4395         Reservoir Dogs         8.4  1200000.0
4550           A Separation         8.4   500000.0
4636   The Other Dream Team         8.4   500000.0

In [154]:
movie2.sort_values('imdb_score',ascending = False).head(100).tail()

                                  movie_title  imdb_score      budget
3799                     Anne of Green Gables         8.4         NaN
3777                      Requiem for a Dream         8.4   4500000.0
3935  Batman: The Dark Knight Returns, Part 2         8.4   3500000.0
4636                     The Other Dream Team         8.4    500000.0
2455                                   Aliens         8.4  18500000.0

In [162]:
import pandas as pd
import pandas_datareader as pdr
tsla = pdr.DataReader('tsla',data_source = 'yahoo',start = '2017-1-1')
tsla.head(8)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,220.330002,210.960007,214.860001,216.990005,5923300,216.990005
2017-01-04,228.000000,214.309998,214.750000,226.990005,11213500,226.990005
2017-01-05,227.479996,221.949997,226.419998,226.750000,5911700,226.750000
2017-01-06,230.309998,225.449997,226.929993,229.009995,5527900,229.009995
2017-01-09,231.919998,228.000000,228.970001,231.279999,3979500,231.279999
2017-01-10,232.000000,226.889999,232.000000,229.869995,3660000,229.869995
2017-01-11,229.979996,226.679993,229.070007,229.729996,3650800,229.729996
2017-01-12,230.699997,225.580002,229.059998,229.589996,3790200,229.589996

We will work with the closing price of each trading day:

In [163]:
tsla_close = tsla['Close']
tsla_close

Date
2017-01-03    216.990005
2017-01-04    226.990005
2017-01-05    226.750000
2017-01-06    229.009995
2017-01-09    231.279999
2017-01-10    229.869995
2017-01-11    229.729996
2017-01-12    229.589996
2017-01-13    237.750000
2017-01-17    235.580002
2017-01-18    238.360001
2017-01-19    243.759995
2017-01-20    244.729996
2017-01-23    248.919998
2017-01-24    254.610001
2017-01-25    254.470001
2017-01-26    252.509995
2017-01-27    252.949997
2017-01-30    250.630005
2017-01-31    251.929993
2017-02-01    249.240005
2017-02-02    251.550003
2017-02-03    251.330002
2017-02-06    257.769989
2017-02-07    257.480011
2017-02-08    262.079987
2017-02-09    269.200012
2017-02-10    269.230011
2017-02-13    280.600006
2017-02-14    280.980011
                 ...
2019-12-11    352.700012
2019-12-12    359.679993
2019-12-13    358.390015
2019-12-16    381.500000
2019-12-17    378.989990
2019-12-18    393.149994
2019-12-19    404.040009
2019-12-20    405.589996
2019-12-23    419.220001
2019-12-24    425.250000
2019-12-26    430.940002
2019-12-27    430.380005
2019-12-30    414.700012
2019-12-31    418.329987
2020-01-02    430.260010
2020-01-03    443.010010
2020-01-06    451.540009
2020-01-07    469.059998
2020-01-08    492.140015
2020-01-09    481.339996
2020-01-10    478.149994
2020-01-13    524.859985
2020-01-14    537.919983
2020-01-15    518.500000
2020-01-16    513.489990
2020-01-17    510.500000
2020-01-21    547.200012
2020-01-22    569.559998
2020-01-23    572.200012
2020-01-24    564.820007
Name: Close, Length: 770, dtype: float64

Use the 'cummax' method to track the highest closing price until the current date:

In [166]:
tsla_cummax = tsla_close.cummax()
tsla_cummax.head(8)

Date
2017-01-03    216.990005
2017-01-04    226.990005
2017-01-05    226.990005
2017-01-06    229.009995
2017-01-09    231.279999
2017-01-10    231.279999
2017-01-11    231.279999
2017-01-12    231.279999
Name: Close, dtype: float64

To limit the downside to 10%, we multiply 'tsla_cummax' by 0.9. This creates the
trailing stop order:

In [167]:
tsla_trailing_stop = tsla_cummax * .9
tsla_trailing_stop.head(8)

Date
2017-01-03    195.291005
2017-01-04    204.291005
2017-01-05    204.291005
2017-01-06    206.108995
2017-01-09    208.151999
2017-01-10    208.151999
2017-01-11    208.151999
2017-01-12    208.151999
Name: Close, dtype: float64

In [169]:
def set_trailing_loss(symbol,purchage_data,perc):
    close = pdr.DataReader(symbol,'yahoo',start = purchage_data)['Close']
    return close.cummax()*perc
msft_trailing_stop = set_trailing_loss('msft','2017-6-1',.85)
msft_trailing_stop.head()

Date
2017-05-31    59.363997
2017-06-01    59.584999
2017-06-02    60.996002
2017-06-05    61.437999
2017-06-06    61.641997
Name: Close, dtype: float64